<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Eat Da Burger</title>
	
</head>
<body>
<h1>Eat Da Burger!</h1>

<div id="made">
<h2>All Da Burgers You Created!</h2>

<ul style="list-style:none">

{{#each burgers}}

{{#unless this.eaten}}

<li>

{{this.name}}
<form action = 'burgers/update/{{this.id}}?_method=PUT' method="POST"><input type="hidden" name="eaten" value="true">
<button type="submit">EAT DA BURGER!</button>
</form>
<form action = 'burgers/delete/{{this.id}}?_method=DELETE' method="POST">
<button type="submit">DELETE DA BURGER!</button>
</form>

</li>

{{/unless}}

{{/each}}

</ul>
</div>
<div id = "image">
<img src="/assets/img/burger_png.png" alt="burger" id="burger">
</div>
<div id = "eaten">
<h2>All Da Burgers You Ate!</h2>

<ul style="list-style:none">

{{#each burgers}}

{{#if this.eaten}}

<li>
{{this.name}}

<form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
<input type="hidden" name="eaten" value="false">
<button type="submit"id="makeIt">MAKE IT AGAIN!</button>
</form>

</li>
{{/if}}
{{/each}}
</ul>
</div>
<div id="create">
 <form class="create-update-form" action="/" method="POST">

      <div class="form-group" id = "wholeGroup">
        <label for="burger">Create a New Burger:</label>
        <input type="text" id="burgerName" name="name">
      </div>

      <div class="form-group" type="hidden">
        <input type="hidden" name="devour" value="0">
      </div>

      <button type="submit" id="addOne">Add Burger</button>
    </form>
    </div>

</body>
</html>